//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}
.content {
	border-radius: 20px; //文章背景设置圆角
	padding: 80px 30px 10px 30px;
	background:rgba(255, 255, 255, 0.2) none repeat scroll !important;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}

//侧边栏与文字的颜色
.menu-item a{
  color: #0000ff //左上目录文字颜色
}

.menu-item-active a{
  color: #ff7f50
}

//修改不蒜子数据颜色
.busuanzi-value {
  color: #1890ff;
}

//页脚文字
.footer,.footer a,.footer .with-love{
  //color: #31ff00
}

.tag-cloud-tags{
	margin-top: 3%;
}
.tag-cloud a {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),
	0 1px 2px rgba(0, 0, 0, .24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .12),
	0 1px 2px rgba(0,0,0, .24);
	box-shadow: 0 1px 3px rgba(0, 0,0 .12),
	0 1px 2px rgba(0,0,0, .24);
	transition: .2s ease-out;
	padding: 2px 10px;
	margin: 8px;
	background: #eee;
	border-bottom: none;
	border-radius: 12px;
	box-shadow: 0 1px 3px #6f42c1, 0 1px 2px #d9534f;
	display: inline-block;
}
.tag-cloud a:hover{
	text-decoration: none;
	background: #64ceaa;
	color: #fff !important;
	-webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,.2),
	0 6px 20px 0 rgba(0, 0, 0, .19);
	-moz-box-shadow: 0 8px 16px 0 rgba(0,0,0, .2),
	0 6px 20px 0 rgba(0,0,0, .19);
	box-shadow: 0 8px 16px 0 rgba(0, 0,0 .2),
	0 6px 20px 0 rgba(0,0,0, .19);
}